/* HeroesComponent's private CSS styles */
.departments {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    padding: 0;
    width: 27em;
  }
  .departments li {
    
    background-color: #EEE;
    left: 10;
    margin: .5em;
    padding: .3em 0;
    height: 2em;
    border-radius: 4px;
  }
 
  .departments .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color:#405061;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4.1px;
    height: 2.1em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

 .department-checkbox{
    cursor: pointer;
    margin-top: -100%;
 }

 .btn {
    display: inline-block;
    margin-bottom: 0;
    margin-top: -1.4%;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    padding: 3px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .checked {
    text-decoration: line-through;
  }
  .department-text{
    background: transparent;
    border: none;
  }
