<div id="wrapper">
        <ul class="employees">
    
                <li *ngFor="let employee of empsAPI; let i=index" 
                [class.selected]="employee === selectedEmployee"
                (click)="onSelect(employee)">
                    <span class="badge">{{employee.id}}
                    </span>
                    {{employee.first_name}}, {{employee.last_name}}
                    <div class="btn-update">
                            <button class="btn btn-primary pull-right" (click)="showDialog = !showDialog">Update</button>

                    </div>
                </li>
            </ul>
            <app-employee-detail [employee]="selectedEmployee" [(visible)]="showDialog"></app-employee-detail>
    
        </div>
    